fastapi
uvicorn[standard]
starlette
langchain
langchain-openai
langchain-community
openai
langgraph
redis
psycopg2-binary
psycopg
SQLAlchemy
prometheus_client
bleach
psycopg-pool
nest-asyncio
dataclass_wizard